{% extends 'admin/admin.html.twig' %}

{% block title 'Modification de la recette ' ~ recipe.title %}

{% block body %}

    <h1>Modification la recette {{ recipe.title }}</h1>

    {{ form(form) }}

{% endblock %}