{% extends 'base.html.twig' %}

{% block title "Toutes les recettes" %}

{% block body %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta ligula eget est vulputate bibendum. Etiam augue
    nibh, blandit volutpat lacus ac, efficitur cursus neque. Vivamus rhoncus facilisis tortor eu volutpat. Morbi euismod
    justo nec mollis tincidunt. Suspendisse a cursus lacus. Quisque vel consectetur augue, id auctor mi. Nullam dictum
    vulputate justo a hendrerit. Mauris varius arcu ac enim lobortis tincidunt in quis turpis.
    <ul>
        <li>
            <a href="{{ url('recipe.show', {id: 32, slug: 'pate-bolognaise'}) }}">Pâtes bolognaise</a>
        </li>
    </ul>
{% endblock %}